<h3 class="title">Directions</h3>
<p>
The timed “Up and Go” test measures, in seconds, the time taken by an individual to stand up from a
standard arm chair (approximate seat height of 46 cm [18in], arm height 65 cm  [25.6 in]), walk a
distance of 3 meters (118 inches, approximately 10 feet), turn, walk back to the chair, and sit down.
</p>
<p>
    The subject wears their regular footwear and uses their customary walking aid (none, cane, walker). No
physical assistance is given.
</p>
<p>
    They start with their back against the chair, their arms resting on the
armrests, and their walking aid at  hand. They are instructed that, on the word “go” they are to get up
and walk at a comfortable and safe pace to a line on the floor 3 meters away, turn,  return to the chair
and sit down again.
</p>
<p>
    The subject walks through the test once before being timed in order to  become
familiar with the test. Either a stopwatch or a wristwatch with a second hand can be used to time the
trial.
</p>