<h3 class="title">Balance Tests</h3>
<h4 class="positive">Score: {{data.balanceTests.Sum}} / {{data.balanceTests.MAX_SCORE}}</h4>
<div class="list">
    <div ng-repeat="test in data.balanceTests.Questions">
        <div class="row bal">
            <div class="col col-90 white-text balanced-bg">{{test.name}}</div>
            <div class="col text-right white-text calm-bg">{{data.balanceTests.Answers[test.id]}}</div>
        </div>
        <ion-radio ng-repeat="item in test.options" ng-value="item.value" ng-model="data.balanceTests.Answers[test.id]"
                   ng-click="calculateBalanceSum()" name="{{[test.id]}}">
            {{ item.text }}
        </ion-radio>
    </div>
</div>
<div class="row">
    <div class="col col-75 positive">BALANCE SCORE TOTAL</div>
    <div class="col positive text-right">{{data.balanceTests.Sum}} / {{data.balanceTests.MAX_SCORE}}</div>
</div>